<html>
    <head>
        <title>Scrabble Score</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>Score a Word in Scrabble!</h1>
            <form action='/score_results'>
                <div class="form_group">
                    <label for="word">What's your word?</label>
                    <input id="word"  name="word" type="text" autofocus="autofocus">
                </div>
                <button type="submit" class="btn-success">Get Score!</button>
            </form>
        </div>
    </body>
</html>
